body{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#div{
    padding:10hv;

}
#container{
    color: #c6c7be;
    border: solid;
    width:60%;
    text-align:center;
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 35px;
    font-weight: bold;
}
#buttoncontain{   
    text-align: center;
    margin-top: 40px;

}
.btn{
    text-align: center;
    padding:7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: rgb(245, 11, 38);
    border: 10px;
    cursor: pointer;
}
#start{
    background-color: bisque;
    margin-bottom: 10px;
}
#stop{
    background-color: aqua;
}
#reset{
    background-color: blueviolet;
}